<!DOCTYPE html>
<!--
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><script src="./converter_files/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="" class="ng-scope">
      <p>Simple calculator that supports basic operators: +, -, *, / and ()</p>
      <p>Math expression: <input type="text" ng-model="math" class="ng-valid ng-dirty ng-valid-parse ng-empty ng-touched"></p>
      <p class="ng-binding"></p>
    </div>
  </body>
</html>
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Converter
    </ion-title>

    <meta chrset="ISO-8859-1">
    <meta name="description" content="Converter">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript">
    <meta name="author" content="Fernando Ito - 02/13/2018">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><script src="../../../bower_components/angular/angular.min.js"></script>

  </ion-navbar>
</ion-header>

<ion-content>
  <body>
    <div ng-app="" class="ng-scope">
      <p>Simple calculator that supports basic operators: +, -, *, / and ()</p>
      <p>Math expression: <input type="text" ng-model="math" class="ng-valid ng-dirty ng-valid-parse ng-empty ng-touched"></p>
      <p class="ng-binding"></p>
    </div>
  </body>
</ion-content>
